#!/usr/bin/env /bin/bash
docker exec -it {{ tendermint_docker_container_name }} {{ tendermint_binary_name}} keys add --recover --keyring-dir {{ tendermint_docker_keys_mount }} --keyring-backend {{ tendermint_client_keyring_backend }} "$@"
